@charset "UTF-8";
// ------------------------------------------
// dropdown
// ------------------------------------------

@import '../../../statics/css/_base';
$drop-item-h:  unit(64); //列表高度
.ui-dropdown {
  position: relative;
  //左对齐
  &.is-left &__menu {
    left: 0;
  }
  //右对齐
  &.is-right &__menu {
    right: 0;
  }
  &__droplink {
    padding: 0 unit(25) 0 unit(15); ////////
    font-size: $fz-s;
    color: #fff;
    .arrow {
      position: absolute;
      top: 50%;
      right: unit(10);
      margin-top: unit(-6);
      @include arrow(bottom,#fff,unit(6),unit(6));
    }
  }
  &__menu {
    position: absolute;
    top: 100%;
    max-height: $drop-item-h * 8;
    box-shadow: $shadow-s;
    background-color: #fff;
    border-radius: $radius-s;
    z-index: $zi-dd;
    overflow: auto;
  }
  &__item {
    padding: 0 unit(15); ///////
    line-height: $drop-item-h;
    height: $drop-item-h;
    font-size: $fz-s;
    color: $color-l;
    @extend %tof;
    &:active {
      background-color: $bg-active;
    }
  }
}