@charset "UTF-8";
// ------------------------------------------
// dropdown
// ------------------------------------------

@import '../../../statics/css/_base';
$drop-link-h:  $com-row-h; //droplink高度

.ui-dropdown {
  position: relative;
  display: flex;

  //左对齐
  &.is-left &__menu {
    left: 0;
  }
  //右对齐
  &.is-right &__menu {
    right: 0;
  }
  dropdownitem {
    flex: 1;
    display: inline-block;
    height: $drop-link-h;
  }

}