@charset "UTF-8";

///////////////////////////////////////   layout
.ui-layout {
  height: 100%;
  &--header {
    padding-top: $header-h;
  }
  &--footer {
    padding-bottom: $footer-h;
  }
  &__body {
    height: 100%;
    overflow: auto;
  }
  &__header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: $header-h;
  }
  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: $footer-h;
  }
}



/////////////////////////////////////    checkbox
.ui-checkbox {
  font-size: $checkbox-fz;
  color: $checkbox-color;
  checkbox {
    width: $checkbox-size;
    height: $checkbox-size;
    margin-right: $checkbox-mr;
    border-radius: $checkbox-radius;
    border: 1rpx solid $checkbox-border;
  }
}

/////////////////////////////////////    radio-group

//按钮类型
$radio-button-radius: $radius-s;
$radio-button-h: $com-height; //高度
.ui-radio {

}
.ui-radio-group {
  display: inline-block;
  vertical-align: middle;
  @extend %cf;
  &--button {
    .ui-radio {
      float: left;
      display: inline-block;
      height: $radio-button-h;
      line-height: $radio-button-h - unit(2);
      padding: 0 unit(24);
      border: 1px solid $border;
      border-left: none;
      background-color: #fff;
      font-size: $fz-s;
      color: $color-l;
      &.is-check {
        border-color: $main;
        background-color: $main;
        color: #fff;
        z-index: 1;
      }
      radio {
        display: none;
      }
      &:first-child {
        border-left: 1px solid $border;
        border-radius: $radio-button-radius 0 0 $radio-button-radius;
      }
      &:last-child {
        border-radius: 0 $radio-button-radius $radio-button-radius 0;
      }
    }
  }
}