@charset "UTF-8";
// ------------------------------------------
// dayCalendar
// ------------------------------------------

@import '../../../../../statics/css/base';

// topbar
$topbar-h: $com-row-h;
$topbar-bg: $main;
$topbar-prev-size: unit(64); //左右切换按钮宽度


//日历
$list-header-h : unit(64);

$list-header-bg : $bg;
$list-col-border: $border; //表格边线
$list-col-other-bg : $bg-l; //非本月日期，特殊样式
$list-col-other-color : $color-l; //非本月日期，特殊样式

.calendar {
  &-month {
    display: flex;
    height: 100%;
    flex-direction: column;
    // 日历
    .month-list {
      position: relative;
      height: 100%;
      padding-top: $list-header-h;
      &__header {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: $list-header-h;
        background: $list-header-bg;
      }
      &__header &__col {
        font-size: $fz-s;
        color: $color-l;
      }
      &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      &__row {
        flex: 1;
        display: flex;
        border-top: 1px solid $list-col-border;
      }
      &__col {
        flex: 1;
        width: 0;
        font-size: $fz-xs;
        color: $color-d;
        border-left: 1px solid $list-col-border;
        &:first-child {
          border-left: none;
        }
        &--weekend {
          background-color: $list-col-other-bg;
          color: $list-col-other-color;
        }
      }
      &__weekname {
        display: block;
        line-height: $list-header-h;
        text-align: center;
        @extend %tof;
      }
      &__daynum {
        display: block;
        line-height: unit(40); //////
        padding-left: unit(10);
        text-align: left;
        @extend %tof;
      }
    }
  }
  &-topbar {
    height: $topbar-h;
    background-color: $topbar-bg;
    &__side {
      float: right;
      height: 100%;
    }
    &__droplink {
      width: unit(200); ///////// 下拉菜单宽度
      padding: 0 unit(15); ////////
      line-height: $topbar-h;
      border-left: 1rpx solid $border-w;
      height: $topbar-h;
      font-size: $fz-s;
      color: #fff;
    }
    &__month {
      position: relative;
      overflow: hidden;
      padding: 0 $topbar-prev-size;
      .month-ctrlbtn {
        position: absolute;
        top: 0;
        bottom: 0;
        width: $topbar-prev-size;
        height: 100%;
      }
      .month-prev {
        left: 0;
        border-right: 1rpx solid $border-w;
      }
      .month-next {
        right: 0;
        border-left: 1rpx solid $border-w;
      }
    }
  }
  &-body {
    flex: 1;
    overflow: auto;
  }

}

