@charset "UTF-8";
// ------------------------------------------
// theme
// ------------------------------------------


//--------------------- color ---------------------//

// base color ( can't use it directly)
$org:                   #ddd;
$green:                 #2dd2d0;   //////
$yellow:                #ddd;
$red:                   #ff6f6f;  ///////
$blue:                  #3cb2ff;
$purple:                #ddd;
$pink:                  #ddd;
$grey:                  #ddd;  ////////
// main color
$main:                  $blue;  /// used
$main-d:                mix(#000,$main,10%);
$main-dr:               mix(#000,$main,20%); 
$main-l:                mix(#fff,$main,10%);
$main-lr:               mix(#fff,$main,20%);

// sub color
$sub: 					        $green;
$sub-d: 				        mix(#000,$sub,10%);
$sub-dr: 			          mix(#000,$sub,20%); 
$sub-l: 			          mix(#fff,$sub,10%);
$sub-lr: 			          mix(#fff,$sub,20%);

//other color
$error:                 $red;
$success:               $green;


// border
$border-l: 	            #ddd;
$border: 				#ddd;   /////
$border-d: 		        #ddd;
$border-w: 		        rgba(255,255,255,.3); //深色背景下

// background-color
$bg-l: 	                #ddd;
$bg: 			        #eee; //////
$bg-d: 	                #ddd;
$bg-active:             #f5f5f5; // 白色背景hover  /////

// disabled color
$disabled-color:        #ddd;
$disabled-bg:           #ddd;
$disabled-border:       #ddd;

//--------------------- font ---------------------//

//color
$color:                 #666;
$color-d: 			    #333;
$color-l: 		        #999;
$color-disable: 		$color-l;

//font-size
$fz-xs:                  unit(24);
$fz-s:                  unit(28);
$fz:                    unit(32); ////////
$fz-l:                  unit(36);
$fz-xl:                 unit(40);
$fz-xxl:                unit(48);

//icon
$icon-color:              #999;
$icon-color-l:            #bbb;
$icon-color-d:            #666;

//line-height
$lh:                    1.5;


$shadow-s:              0 unit(2) unit(6) rgba(0,0,0,.2); ///
$shadow:                0 unit(1) unit(6) rgba(0,0,0,.2);
$shadow-l:              0 unit(1) unit(6) rgba(0,0,0,.2);

//--------------------- radius ---------------------//

$radius-s:              unit(4); /// button
$radius:                unit(6);
$radius-l:              unit(12);


//--------------------- z-index ---------------------//

$zi:                    1;
$zi-up:                 3;      //两者之间的上层
$zi-down:               2;      //两者之间的下层
$zi-fix:                50;		//fixed topbar,backtotop
$zi-dd:                 70;		//dropdown
$zi-modal:              100;	//pop  


//--------------------- animation ---------------------//

$dur-s:                 0.3s;
$dur:                   0.5s;
$dur-l:                 1s;
$dur-h:                 2s;


//--------------------- width and height ---------------------//

$header-h:              unit(88);       // ///
$nav-h:                 unit(0);        //
$footer-h:              unit(88);       // ///
$centerwrap-w:			unit(1200);     // 类型：居中内容宽度
$wrap-min-w:			unit(1024);        //类型：全屏内容最小宽度，小于该值应该出现横向滚动条
$side-w:				unit(200);      // 侧栏 width
$padding:  				unit(20);
$com-height:            unit(60);       // 标准高度
$com-height-l:          unit(36);       ///////dropdown
$com-height-s:          unit(20);

$com-row-h:            unit(64*2);       // 标准高度  //////////
$com-row-h-l:          unit(36);
$com-row-h-s:          unit(20);

//--------------------- media ---------------------//
$screen-xs:             unit(480);
$screen-s:              unit(768);
$screen-m:              unit(992);
$screen-l:              unit(1200);
$screen-xl:             unit(1600);
// $mq-s:                  max-width $min-w;
// $mq-n:                  1024px 1200px;
// $mq-l:                  1000px;
// $mq-h:                  1600px;
// media query
// @example:
// 示例scss:
//   .foo{
//     width: 500px;
//     @include breakpoint($mq-n){
//       width: 200px;
//     }
//   }


//--------------------- components ---------------------//
// checkbox
$checkbox-size: unit(40);
$checkbox-fz:    $fz;
$checkbox-color:  $red;
$checkbox-radius:   $radius-s;
$checkbox-border:   $border;
$checkbox-mr:   unit(20);